ErrorDocument 404 /404/

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ bevrijdingsdanceemmen/$1/ [R=301,L]

RewriteCond %{HTTP_HOST} ^bevrijdingsfestivalemmen\.nl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bevrijdingsfestivalemmen\.nl$
RewriteRule ^/?$ "https\:\/\/bevrijdingsdanceemmen\.nl" [R=301,L]

<IfModule mod_headers.c>
    # WEEK
    <FilesMatch "\.(jpg|jpeg|png|gif|swf|svg)$">
        Header set Cache-Control "max-age=2628000, public"
    </FilesMatch>

    # WEEK
    <FilesMatch "\.(js|css|swf|woff)$">
        Header set Cache-Control "max-age=2628000"
    </FilesMatch>
</IfModule>
