#artwork{
  position: fixed;
  left: 0;
  right: 0;
  top: 5%;
  bottom: 45%;
  z-index: 15;
  overflow: hidden;

  &.frontpage{
    top: 0;
    bottom: 0;

    .layer{
      &.title{
        font-size: 20vw;
        line-height: 20vw;
      }
      &.flags{
        left: 0;
        right: 0;
        top: 32%;
      }
      &.tickets{
        display: block;
        z-index: 6;
        bottom: 8.5%;
        left: 50%;
        transform: translate(-50%, 0) scale(1);
        white-space: nowrap;
      }
    }
  }
  .layer{
    position: absolute;
    transform: translate(-50%, -50%);

    img{
      height: 100%;
      width: auto;
    }
    &.flags{
      z-index: 3;
      left: 20%;
      right: 20%;
      top: 38%;
      bottom: 0;
      transform: translate(0);

      img{
        position: absolute;
        height: auto;
        transform-origin: center;

        &:nth-of-type(1){
          left: 0;
          top: 0;
          height: 40%;
        }
        &:nth-of-type(2){
          right: 0;
          top: 0;
          height: 40%;
        }
      }
    }
    &.tickets{
      display: none;
    }
    &.logo-partly{
      z-index: 4;
      height: 40%;
      left: 50%;
      top: 52%;

      .mask{
        z-index: 5;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: white;
        opacity: 0;
        mask: url("../img/logo-partly.png") center;
        mask-size: contain;
        -webkit-mask: url("../img/logo-partly.png") center;
        -webkit-mask-size: contain;
      }
    }
    &.shadow{
      z-index: 1;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0) scale(0.5);

      ellipse{
        fill:  $color__main-1;
        opacity: 0.1;
        transform-origin: center;
        animation: shadow 4s infinite ease;

        &:last-of-type{
          animation: shadow 4s infinite 0.1s ease;
        }
      }
      @keyframes shadow {
        0.00% {transform: scale3d(1, 1, 1)}
        40% {transform: scale3d(0, 0, 1)}
        60% {transform: scale3d(0, 0, 1)}
        100% {transform: scale3d(1, 1, 1)}
      }
    }
    &.title{
      z-index: 2;
      left: 50%;
      top: 50%;
      color: $color__light;
      margin: 0;
      font-size: 17vw;
      font-family: 'Bungee', cursive;
      opacity: 0.5;
      text-align: center;
      line-height: 17vw;
      transform-origin: center;
    }
  }
  @include respond-to(medium-up){
    &.frontpage{
      bottom: 0;

      .layer{
        &.title{
          font-size: 12vw;
          line-height: 12vw;
        }
        &.flags{
          left: 30%;
          right: 30%;
        }
        &.tickets{
          transform: translate(-50%, 0) scale(1.2);
        }
      }
    }

    .layer{
      &.flags{
        left: 34%;
        right: 34%;
        top: 20%;

        img{
          &:nth-of-type(1){
            height: auto;
          }
          &:nth-of-type(2){
            height: auto;
          }
        }
      }
      &.logo-partly{
        height: 66%;
      }
      &.shadow{
        bottom: 2%;
        transform: translate(-50%, 0) scale(1);
      }
      &.title{
        font-size: 7vw;
        line-height: 7vw;
      }
    }
  }
}
