#faq{
  text-align: center;

  .faq{
    text-align: left;
    
    .question{
      border-bottom: solid 1px rgba($color__dark, 0.1);

      h3{
        cursor: pointer;
        position: relative;
        max-width: calc(100% - 2.5em);
        margin: 0.5em 0;
        padding: 0.5em 0;

        &::after {
          position: absolute;
          right: -1.5em;
          top: 60%;
          transform-origin: center;
          transform: translateY(-50%);
          content: '\f0d7';
          font-family: 'FontAwesome';
          width: 0.75em;
          transition: all ease .2s;
        }
      }
      .answer{
        display: none;
      }
      &.open{
        h3{
          &::after {
            top: 40%;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  @include respond-to(medium-up){
    text-align: left;
  }
}
